body {
  background-image: linear-gradient(
    to top,
    #fcc5e4 0%,
    #fda34b 15%,
    #ff7882 35%,
    #c8699e 52%,
    #7046aa 71%,
    #0c1db8 87%,
    #020f75 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Otomanopee One", sans-serif;
  font-size: 45px;
}

#card {
  background-color: white;
  width: 200px;
  height: 350px;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  -webkit-box-shadow: 5px 5px 0px 0px #289fed, 10px 10px 0px 0px #5fb8ff,
    15px 15px 0px 0px #a1d8ff, 20px 20px 0px 0px #cae6ff,
    25px 25px 0px 0px #e1eeff, -10px 19px 19px 28px rgba(0, 0, 0, 0);
  box-shadow: 5px 5px 0px 0px #289fed, 10px 10px 0px 0px #5fb8ff,
    15px 15px 0px 0px #a1d8ff, 20px 20px 0px 0px #cae6ff,
    25px 25px 0px 0px #e1eeff, -10px 19px 19px 28px rgba(0, 0, 0, 0);
}

#top {
  text-align: left;
  padding: 10px;
}

#center {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bottom {
  text-align: right;
  padding: 10px;
}

.red {
  color: red;
}
